<div class="columns is-mobile">
  <div class="column">
    <nav class="level">
      <div class="level-item has-text-centered">
        <figure class="image is-128x128">
          <%= image_tag "logo.svg", class: "is-rounded", alt:"logotipo" %>
        </figure>
      </div>
    </nav>
    <h1 class="title is-size-4">
      ¿Quieres conocer tu tipo de piel?
    </h1>
    <%= link_to "Comencemos", principal_gender_path, class: "button is-link is-medium is-rounded" %>
  </div>
</div>
